*{
    box-sizing: border-box;
    font-family: Roboto, serif;
}

body{
    

}

.card button{
   
    width: 10rem;
    height: 2rem;
    
    color: white;
    background-color: rgb(44, 44, 44);

}
.add-book-button{
    width: 10rem;
    height: 4rem;

}

button{
    margin:2px;
    border-radius: 5px;
    border-style: none;
    box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);

}
.new-book{
    
    width: 7rem;
    height: 2rem;
   
    color: white;
    background-color: rgb(136, 136, 136);
}


button:hover{
    cursor: pointer;
}
button:active{
    box-shadow:  none;
}

.add-book{
    padding: 4rem;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    height: 270px;
    width: 200px;
    background-color: rgb(49, 112, 112);
     display: none; 
}

.main-container{
    display: grid;
    grid-template-rows: 1fr 10fr;

}

.new-book{
    justify-self: center;
    align-self: center;
}

.books-list{
    padding: 1.5rem;
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:1rem;
    
}

.card {
    padding: 1rem;
    color: white;
    display: grid;
    justify-items: center;
    z-index: 0;
    width:250px;
    height:200px;
    position: relative;
    background-color: #bdd3fc;
    color: black;
    border-radius: 7px;
    box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
}

.input-flag{
    display: grid;
    grid-template-columns: 10fr 1fr;
}


.errorMsg{
}

/* .form-container{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */